header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: white;
  }
  
  @media (min-width: 576px) {
    h1 {
      font-size: 36px;
    }
  }
  